body, html {/*skj006*/
	background: -webkit-repeating-linear-gradient(#cccccc,#dddddd,#eeeeee,#dddddd,#cccccc);
	background: -webkit-repeating-linear-gradient(#cccccc,#dddddd,#cccccc);
	background: repeating-linear-gradient(#cccccc,#dddddd,#cccccc);
	margin: 0;
	padding: 0;
	height: 100%;
	min-height: 100%;
}

.container { /*Pakker inn alt innenfor body *//*skj006*/
	height: 100%;
	max-width: 100%;
	margin: 0 auto;

	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-ms-flex-direction: column;
	flex-direction: column;
}


.fyll { /*Pakker inn alt som skal vises før man blar nedover på siden*//*skj006*/
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
	

	height: 100vh;
	width: auto;

	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-flex: 0;
	-ms-flex: 0 0 auto;
	flex: 0 0 auto;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-ms-flex-direction: column;
	flex-direction: column;
	-webkit-box-pack: top;
	-ms-flex-pack: top;
	justify-content: top;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
}

#film-fyll { /*Unik for filmer-siden, siden fyll-div der må være lengre*//*skj006*/
	height: auto;
	min-height: 100%;
    background-attachment: fixed;
}

.header { /*Pakker inn alle elementene i header*//*skj006*/
	background: rgba(0, 0, 0, 0.7);
	box-shadow: 0px 8px 16px 4px rgba(0, 0, 0, 0.7);

	font-size: 20px;
	font-weight: 600;
	font-family: "Bebas Kai";
	font-variant-caps: small-caps;

	min-height: 60px;
	height: 60px;
	width: 100%;
	max-width: 1600px;
	border-radius: 0 0 10px 10px;
	
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	    -ms-flex-direction: column;
	        flex-direction: column;
}

#upperHead {/*skj006*/
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: horizontal;
	-webkit-box-direction: normal;
	-ms-flex-direction: row;
	flex-direction: row;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	-webkit-box-pack: justify;
	-ms-flex-pack: justify;
	justify-content: space-between;
}

.header a {/*Pro012*/
	list-style-type: none;
	text-decoration: none;
	color: white;
}

.header ul {/*Pro012*/
	list-style-type: none;
}

.mainbar ul, .menyKnapp ul, .dropned {/*Pro012*/
	opacity: 0.8;

	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
}

.mainbar ul {/*Pro012*/
	width: 100%;

	-webkit-box-pack: justify;
	-ms-flex-pack: justify;
	justify-content: space-between;
}

.mainbar li:hover {/*Pro012*/
	font-size: 22px;
	-webkit-transition-duration: 0.05s;
	transition-duration: 0.05s;
}

fieldset {/*eva028*/
	opacity: 0.65;
    border-style: none;
	margin-left: 6rem;
    margin-top: 7%;
	-webkit-box-flex: 1;
	-ms-flex-positive: 1;
	flex-grow: 1;
}

fieldset input[type=text] { /* CSS for å tilpasse søkefeltet når det strekker seg *//*eva028*/
	background-color: white;
	font-size: 0.9rem;
	min-width: 350px;
	border: 2px solid #ccc;
	border-radius: 4px;
	padding: 6px 30px 6px 10px;

	box-sizing: border-box;
	-webkit-transition: width 0.4s ease-in-out;
	transition: width 0.4s ease-in-out;
}
fieldset input[type=text]:focus {
	width: 30%;
}
#submit_search{
    margin-left: 100%;
    opacity: 0.7;
}

.menyKnapp {/*Pro012*/
	margin-right: 2rem;
}

.dropned {/*Pro012*/
	background-color: black;
	box-shadow: 0px 8px 16px 0px black;
	position: absolute;

	text-align: center;

	border-radius: 10px;

	display: none;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-ms-flex-direction: column;
	flex-direction: column;
}

.dropned a {/*Pro012*/
	padding: 15px 15px;
	text-decoration: none;
	display: block;
	border-radius: 10px;
}

#kaphe:hover .dropned {/*Pro012*/
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
}

#mobildrop {/*skj006*/
	color: white;

	display: none;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
    -ms-flex-direction: column;
	flex-direction: column;
	-ms-flex-pack: distribute;
	    justify-content: space-around;
}

#menyIkon img {/*skj006*/
	width: 40px;
	height: 40px;
}

#menyIkon {/*skj006*/
	position: relative;
	right: 5px;

	display: none;
}

#mobildrop {/*skj006*/
	font-size: 24px;
	font-weight: 600;

	margin: 0;
}

#mobildrop * {/*skj006*/
	margin: 10px 0;
	margin-left: -4px;
}
/*
Her slutter header-elementer---------------------------------------------------------
*/


.logo { /*Pakker inn MaskedPictures-logo og tekst*//*skj006*/
	font-size: 2rem;
	font-family: impact;
	text-align: center;

	height: 100%;
	
	display: -webkit-box;
	display: -ms-flexbox;	
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-ms-flex-direction: column;
	flex-direction: column;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
}

#teat {/*Pro012*/
	height: 200px;
}
/*
Her slutter fyll-elementer---------------------------------------------------------
*/

#allContent {

    /*skj006*/
	/*
    background-color: rgba(0, 0, 0, 0.7);
	box-shadow: 0px 0px 10px 10px rgba(0, 0, 0, 0.7);
	font-size: 20px;
	font-weight: 600;
	font-family: "Bebas Kai";
	min-height: 60px;
	width: 100%;
	max-width: 1600px;
	border-radius: 10px 10px 0 0;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: horizontal;
	-webkit-box-direction: normal;
	-ms-flex-direction: row;
	flex-direction: row;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	-webkit-box-pack: justify;
	-ms-flex-pack: justify;
	justify-content: space-between;*/
}

#filmList{/*Pro012*/
    position: absolute;
    -webkit-transform: translate(-50%, 50%);
	transform: translate(-50%, 50%);
    background-color: rgba(0, 0, 0, 0.7);
	box-shadow: 0px 0px 10px 15px rgba(0, 0, 0, 0.7);
	font-size: 20px;
	font-weight: 600;
	font-family: "Bebas Kai";
	list-style-type: none;/*skj006*/
	min-height: 50px;
	width: 90%;
	max-width: 1600px;
	border-radius: 10px 10px 0 0;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: horizontal;
	-webkit-box-direction: normal;
	-ms-flex-direction: row;
	flex-direction: row;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	-webkit-box-pack: justify;
	-ms-flex-pack: justify;
	justify-content: space-between;
    
}

.meny a{/*Pro012*/
	text-decoration: none;
	color: white;
}

.dropOpp {/*Pro012*//*eva028*/
	background: rgba(0, 0, 0, 0.7);
	box-shadow: 0px 8px 32px 0px rgba(0, 0, 0, 1);
	position: absolute;
    margin-left: -2%;
	text-align: center;
	border-radius: 10px;
	display: none;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-ms-flex-direction: column;
	flex-direction: column;
}

.dropOpp a {/*Pro012*//*eva028*/
	padding: 15px 15px;
	text-decoration: none;
	display: block;
	border-radius: 10px;
}

.meny:hover .dropOpp {/*Pro012*//*eva028*/
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
    bottom: 100%;
}


#rutineDrop{/*Pro012*/
    background-color: black;
	box-shadow: 0px 8px 16px 0px black;
	position: absolute;
    margin-left: -15%;
	text-align: center;
	border-radius: 10px;
	display: none;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-ms-flex-direction: column;
	flex-direction: column;
}

#rutineDrop p{/*Pro012*/
    padding: 15px 15px;
	text-decoration: none;
	display: block;
	border-radius: 10px;
}
.meny:hover #rutineDrop {/*Pro012*/
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
    bottom: 100%;
    
}

#rutineText{/*Pro012*/
    font-size: 1.5vh;
	text-align: center;
	font-family: "Bebas Kai";	
	color: white;
}
#rutineContent{/*Pro012*/
	background-color: rgba(0,0,0,0.5);
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    height: 42vh;
	width: 20vw;
	-ms-flex-wrap: wrap;
	    flex-wrap: wrap;
	-webkit-box-orient: horizontal;
	-webkit-box-direction: normal;
	    -ms-flex-direction: row;
	        flex-direction: row;
	-webkit-box-pack: justify;
	    -ms-flex-pack: justify;
	        justify-content: space-between;
	-webkit-box-align: baseline;
	    -ms-flex-align: baseline;
	        align-items: baseline;
	padding: 0 4px;
}
.miniContent{/*Pro012*/
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	height: auto;/*skj006*/
	width: auto;/*skj006*/
	-ms-flex-wrap: wrap;
	    flex-wrap: wrap;
	-webkit-box-orient: horizontal;
	-webkit-box-direction: normal;
	    -ms-flex-direction: row;
	        flex-direction: row;
	-webkit-box-pack: justify;
	    -ms-flex-pack: justify;
	        justify-content: space-between;
	-webkit-box-align: baseline;
	    -ms-flex-align: baseline;
	        align-items: baseline;
	padding: 10px;
}


.miniPicture{/*Pro012*/
    height: 10vh;
    max-width: 12vh;
}
.miniText{/*Pro012*/
	-ms-flex-item-align: center;
	    -ms-grid-row-align: center;
	    align-self: center;
	text-align: center;
	font-family: "Bebas Kai";	
	color: white;
}


#txt {/*eva028*/
	position: relative;
	color: #FFFFFF;
	top: 20%;
}

/* Posisjonerer spesifikk tekst på bildet */
.tekstar{/*Pro012*/
	-ms-flex-line-pack: center;
	align-content: center;
	float:center;
	text-align: center;
	font-size: 2em;
	font-family: impact;
	color: black;
}


.Overskrift{ /*eva028*/
	font-family: "Times New Roman";
	font-size: 3em;
	-ms-flex-line-pack: center;
	align-content: center;
	float:center;
	text-align: center;
	position: absolute;
	margin-top: 10%;
	left: 50%;
	margin-right: -50%;
	-webkit-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%)
}

.Overskrift1{ /*eva028*/
	font-family: "Times New Roman";
	font-size: 3em;
	-ms-flex-line-pack: center;
	align-content: center;
	float:center;
	text-align: center;
	position: absolute;
	margin-top: 25%;
	left: 50%;
	margin-right: -50%;
	-webkit-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%)
}

.content {/*Pro012*/
	width: 60%;
	position: absolute;
	margin-top: 15%;
	left: 50%;
	margin-right: -50%;
	font-family: Times;
	font-size: 1.5em;
	-ms-flex-line-pack: center;
	align-content: center;
	float: center;
	
	-webkit-transform: translate(-50%, 25%);
	
	transform: translate(-50%, 25%)

}
.content1 {/*Pro012*/
	width: 60%;
	position: absolute;
	margin-top: 40%;
	left: 50%;
	margin-right: -50%;
    margin-bottom: 10%;
	font-family: Times;
	font-size: 1.5em;
	-ms-flex-line-pack: center;
	align-content: center;
	float: center;
	
	-webkit-transform: translate(-50%, 25%);
	
	transform: translate(-50%, 25%)

}
#restrainKnapp{/*Pro012*//*eva028*/
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
}

#leiKnapp{/*Pro012*//*eva028*/
    border-radius: 10px;
    background-color: lime;
    text-align: center;
    width: 5%;
    
}
#leiKnapp a{/*Pro012*//*eva028*/
    color: black;
    text-decoration: none;
}
#leiKnapp:hover{/*Pro012*//*eva028*/
    background-color: darkgreen;
}

.stjerner > span:hover:before {/*Pro012*//*eva028*/
   content: "\2605";
   position: absolute;
    color: yellow;
}

.stjerner {/*Pro012*//*eva028*/
  unicode-bidi: bidi-override;
  direction: rtl;
    font-size: 2em;
    text-align: center;
}
.stjerner > span {/*Pro012*//*eva028*/
  display: inline-block;
  position: relative;
  width: 1.1em;
}
.stjerner > span:hover:before,
.stjerner > span:hover ~ span:before {/*Pro012*//*eva028*/
   content: "\2605";
   position: absolute;
    color: yellow;
}
/*Filmer*/
.film-container {/*eva028*/
	padding: 0;
	margin: 0;
	
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	
	-webkit-flex-flow: row wrap;
}

.film-item {/*eva028*/

	padding: 5px;
	width: 55%;
	height: 400px;
	margin-top: 3.5%;
	margin-left: -1%;
	line-height: 290px;
	color: white;
	font-weight: bold;
	font-size: 3em;
	text-align: center;
}

.film-item1 {/*eva028*/

	padding: 5px;
	width: 55%;
	height: 400px;
	margin-left: 45.5%;
	line-height: 290px;
	color: white;
	font-weight: bold;
	font-size: 3em;
	text-align: center;
}

.film-item2 {/*eva028*/

	padding: 5px;
	width: 55%;
	height: 400px;
	margin-left: -1%;
	line-height: 290px;
	color: white;
	font-weight: bold;
	font-size: 3em;
	text-align: center;
}

.filmvisning {/*skj006*/
	background-color: rgba(0,0,0,0.5);

	padding: 10px 0;
	height: 100%;
	width: 100%;
	max-width: 1400px;

	display: -webkit-box;

	display: -ms-flexbox;

	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	    -ms-flex-direction: column;
	        flex-direction: column;
}

.movieContent{ /*eva028*/
	background: rgba(1, 1, 1, 0.5);
	border-radius: 10px 10px 10px 10px;

    padding: 12px;/*skj006*/
	margin: 0px 10px;

	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-pack: distribute;
	    justify-content: space-around;
}
.movieText { /*eva028*/
	font-size: 1rem;

	width: 30vw;/*skj006*/
	max-width: 400px;

	-ms-flex-item-align: center;
	    -ms-grid-row-align: center;
	    align-self: center;
	text-align: center;
	font-family: "Bebas Kai";	
	color: white;
}

.video{ /*eva028*/
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
    width: 80vh;
	-webkit-box-flex: 1;
	    -ms-flex: 1 1;
	        flex: 1 1;/*Fungerer antagelig ikke i Safari*//*skj006*/

}
#oneHead { /*eva028*/
	font-style: "Bebas Kai";
	font-size: 10vh;
}
.movieText a  { /*eva028*/
	font-family: Impact;
	text-decoration: none;
	color: #997A92;
	font-size: 1.5rem;
}
.indexContent{ /*eva028*/
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	height: 60vh;
	width: 80vw;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	    -ms-flex-direction: column;
	        flex-direction: column;
	-ms-flex-line-pack: center;
	    align-content: center; 
	-ms-flex-pack: distribute; 
	    justify-content: space-around;
}
.indexPicture{ /*eva028*/
	-ms-flex-item-align: center;
	    -ms-grid-row-align: center;
	    align-self: center;
	width: 15vw;
	height: auto;
}
.indexText{ /*eva028*/
	-ms-flex-item-align: center;
	    -ms-grid-row-align: center;
	    align-self: center;
	font-family: "Bebas Kai";
	font-size: 6vh;
}

      #otitle{
           text-align: center;
       }
       #genre_stat_table{
           display: none;
       }
       #youtube{
    

       }
       #review_stat_table{
       	display: none;
       }

@media screen and (max-width:1600px){/*Pro012*/
    #filmList{/*Pro012*/
    position: absolute;
    margin-top: -7%;
	font-size: 19px;
	font-weight: 300;
	width: 50%;

}
    
    #rutineText{
        font-size: 13px;
    }
    #rutineContent{
        height: auto;
    }

}
 /*'Tilpasser under-baren på index-siden til Ipad*/ 
@media (max-width: 1200px) {
	    #filmList{/*Pro012*/
    position: absolute;
    margin-top: -10%;
	font-size: 19px;
	font-weight: 300;
	width: 80%;

}
}

@media (max-width: 1000px) {/*skj006*/
	/*Håndterer filmer.html når mindre enn 1000px bredt*/
	.movieContent {/*skj006*/
		-webkit-box-orient: vertical;
		-webkit-box-direction: normal;
		    -ms-flex-direction: column;
		        flex-direction: column;
	}

	.moviePicture {/*skj006*/
		min-width: 80%;
		-webkit-box-ordinal-group: 3;
		    -ms-flex-order: 2;
		        order: 2;
	}l

	.movieText {/*skj006*/
		min-width: 80%
	}

	.movieText a {/*skj006*/
		font-size: 1.5rem;
	}
    
  
}

@media (max-width: 768px) {/*skj006*/
	/*Håndterer filmer.html når mindre enn iPad*/
	.filmvisning {/*skj006*/
		min-width: 100%;
	}
    
}


	


@media (max-width: 650px) {
	/*mediaqueries som håndterer header på mobile enheter*/
	.header {/*skj006*/
		font-size: 3.2vw;

		height: auto;
		min-height: 0;
	}

	.søkefelt {/*skj006*/
		margin: 0;

		-webkit-box-flex: 1;
		-ms-flex-positive: 1;
		flex-grow: 1;
	}

	.søkefelt input[type=text] {/*skj006*/
		margin: 0;
		width: 100%;

		-webkit-box-flex: 1;
	    -ms-flex-positive: 1;
        flex-grow: 1;
	}

	.søkefelt input[type=text]:focus {/*skj006*/
		width: 100%;
	}

	.mainbar, .mainbar *, #kaphe {/*skj006*/
		display: none;
	}

	.mobilMeny * {/*skj006*/
		display: -webkit-box;
		display: -ms-flexbox;
		display: flex;
		-webkit-box-orient: vertical;
		-webkit-box-direction: normal;
	    -ms-flex-direction: column;
        flex-direction: column;
	}

	#mobildrop {/*skj006*/
		list-style-type: none;
	}

	.mobilMeny, #menyIkon, #menyIkon img {/*skj006*/
		margin: 1px;

		display: -webkit-box;
		display: -ms-flexbox;
		display: flex;
	}

	#mobildrop {/*skj006*/
		display: none;
	}

	.logo {/*skj006*/
		font-size: 5vw;
	}

	#teat {/*skj006*/
		height: 30vw;
	}
    
    .content{/*Pro012*/
        margin-top: 30%;
        font-size: 3vw;
    }
    .content1{/*Pro012*/
        margin-top: 100%;
        font-size: 3vw;
    }
}
     /*'Tilpasser under-baren på index-siden til Smartelefon*/ 
    @media (max-width: 650px) {
           #filmList{/*Pro012*/
    position: absolute;
    margin-top: -25%;
	font-size: 13px;
	font-weight: 300;
	width: 90%;
               margin-left: -2%;

}
    /*'Tilpasser under-baren på index-siden til Smartelefon*/    
  #rutineText{/*Pro012*/
    font-size: 1.5vh;
        }
        
        #rutineContent{
            width: auto;
        }
}
/*'Tilpasser under-baren på index-siden til iphone 5 og galaxy s5*/

   @media (max-width: 380px) {
           #filmList{/*Pro012*/
    position: absolute;
    margin-top: -25%;
	font-size: 10px;
	font-weight: 300;
	width: 90%;
               margin-left: -2%;

}

       /**Show movies**/
       
